/* 
* webkit scrollbar 
*/
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #45a173; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #45a173; 
}
/* 
* end webkit scrollbar 
*/




.score-title, .score-history{
    font-size: 22px;
    text-align: center;
    text-decoration: underline;
}

.title-win, .title-lose, .title-blackjack{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-evenly;
    font-size: 16px;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
}

.score-win, .score-lose, .score-blackjack{
    font-size: 12px;
    text-align: center;
    font-weight: normal;
}

.info-blackjack{
    font-weight: bold;
    font-style: italic;
    margin-left: 5px;
    margin-right: 5px;
    color: yellow;
}
.info-win{
    color: yellowgreen;
    margin-left: 5px;
    margin-right: 5px;
}
.info-lose{
    color: tomato;
    margin-left: 5px;
    margin-right: 5px;
}





/* 
* version mobile
*/
@media only screen and (max-width: 420px)
{
  .info-score{
      width: 100%;
  }

  .info-history{
      width: 100%;
      overflow-y: scroll;
      overflow-x: hidden;
      height: 150px;
  }

  .score-win, .score-lose, .score-blackjack{
    font-size: 12px;
  }

  .score-title, .score-history{
    font-size: 18px;
  }

  .title-win, .title-lose, .title-blackjack{
    font-size: 14px;
  }

  .info-lose, .info-blackjack, .info-win{
    font-size: 12px;
  }
}




/* 
* version desktop
*/
@media only screen and (min-width: 421px)
{
  .info-score{
      width: 100%;
      height: 20%;
  }

  .info-history{
      width: 100%;
      height: 500px;
      overflow-y: scroll;
      overflow-x: hidden;
  }

  .score-win, .score-lose, .score-blackjack{
    font-size: 14px;
  }

  .score-title, .score-history{
    font-size: 22px;
  }

  .title-win, .title-lose, .title-blackjack{
    font-size: 16px;
  }
}