@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");

:root {
  --shadow-card: 0 1px 1px rgb(0 0 0 / 15%);
  --shadow-btn: 0 1px 1px rgba(0, 0, 0, 0.699);
}

html,
body {
  height: 100vh;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

.main-container {
  display: flex;
  height: 100vh;
  background-color: #45a173;
  flex-direction: column;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5rem;
}

.empty {
  width: 15%;
  height: inherit;
}

.actions {
  width: 30%;
  height: inherit;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.actions > button {
  width: 150px;
  height: 50px;
  margin-right: 1em;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar > .logout-svg > #logout-svg {
  display: none;
  margin-left: 10px;
}

.navbar > .logout-svg > #logout-svg {
  width: 25px;
  align-items: center;
}

.username:hover > .navbar > .logout-svg > #logout-svg {
  display: block;
  margin-left: 10px;
}

.username {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  height: 3rem;
  width: 20vh;
  background: rgba(255, 255, 255, 0.623);
  cursor: pointer;
  border: transparent;
  border-radius: 5px;
  padding: 3px;
  font-size: 1.5rem;
  margin-right: 1rem;
}

.username > span {
  height: 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: black;
}

.btn {
  cursor: pointer;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: transparent;
  box-shadow: var(--shadow-btn);
}

.btn:hover {
  box-shadow: var(--shadow-card);
}

.modal-background {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  background: rgba(0, 0, 0, 0.5);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 2rem;
}

.modal-title {
  font-size: 20px;
  font-weight: bold;
  background: #fff;
  width: 100%;
}

.modal {
  position: fixed;
  top: 25%;
  left: 25%;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  padding: 10px;
  background: #fff;
  height: 50%;
  width: 50%;
  border-radius: 5px;
  z-index: 100;
}

.modal-body {
  padding: 10px;
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
}

.body-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

.deck-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  width: 15%;
  height: 100%;
}

@keyframes generate-deck-pile {
  0% {
    transform: translateY(-200%) rotate(140deg);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shuffle-left {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes shuffle-right {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.card {
  background-color: transparent;
  width: 150px;
  height: 200px;
  background-position: center;
  background-size: cover;
  perspective: 1000px;
}

.card .card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.card .card-inner .card-back,
.card .card-inner .card-front {
  position: absolute;
  background-color: #fff;
  box-shadow: var(--shadow-card);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card .card-inner .card-front {
  transform: rotateY(180deg);
}

.deck .card {
  position: absolute;
  left: 3rem;
  top: 40%;
  cursor: pointer;
}

.deck .card:last-child {
  clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0, 100% 0);
  transition: clip-path 500ms;
}

.deck .card:last-child::before {
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  right: 0;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.5) 3px 3px 3px;
  border-radius: 0 0 0 10px;
  transition: translate 500ms;
  transition-property: width, height;
}

/* .deck .card:last-child:hover {
  clip-path: polygon(100% 40px, 100% 100%, 0 100%, 0 0, calc(100% - 40px) 0);
  transform: translateY(-30px) !important;
} */

/* .deck .card:last-child:hover::before {
  width: 40px;
  height: 40px;
  z-index: 1;
} */

.dealer-container .card,
.player-container .card {
  margin: 0px 0px 0px 5px !important;
  cursor: pointer;
  background-size: cover;
  background-position: center;
}

.deck-count {
  font-size: 2rem;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  height: 30vh;
}

.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 100%;
  background: rgba(245, 240, 240, 0.336);
}

.dealer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  background: rgba(29, 78, 238, 0.336);
}

.player-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
  background: rgba(180, 243, 6, 0.336);
}

.board-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 15%;
  height: 100%;
  background: rgba(245, 30, 30, 0.336);
}

@media screen and (max-width: 450px) {
  .main-container {
    flex-direction: column;
  }

  .header-container {
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: end;
  }

  .username {
    width: 4em;
    height: 2rem;
    align-items: center;
    font-size: 1rem;
    padding: 1px;
  }

  .btn {
    margin: 0 1em 2em;
  }

  .body-container {
    width: 100%;
  }

  .card .card-inner .card-back,
  .card .card-inner .card-front {
    position: absolute;
    background-color: #fff;
    box-shadow: var(--shadow-card);
    border-radius: 5px;
    width: 70px;
    height: 100px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .deck .card {
    top: 23em;
    left: 1.5em;
  }

  .deck-container {
    width: 30%;
  }

  .cards-container {
    width: 60%;
  }

  .dealer-container {
    width: 100%;
  }

  .player-container {
    width: 100%;
  }

  .board-container {
    width: 20%;
  }
}
